################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestGitHub/TestGitHub/obj
/TestGitHub/.vs/TestGitHub
/.vs
